.main {
    display: flex;
    padding: 50px;
    background: rgb(246, 255, 253);
}

.box-image {
    width:65%;
    height: 500px;
    margin-right: 20px;
    border-radius: 10px;
    background: rgb(176, 237, 215);
}

.box-detail {
    width: 40%;
    height: 500px;
    margin-left: 20px;
    border-radius: 10px;
    background: rgb(176, 237, 215);
}