.container {
    display: flex;
    padding-top: 20px;
}

.avatar-detail {
    border-radius: 10%;
}

.avatar {
    height: 300px;
    width: 300px;
}

.profile-detail {
    border-radius: 10%;
    background: azure;
    width: 300px;
    height: 300px;
    margin-left: 20px;
    padding-left: 20px;
}

.profile-detail-header {
    color: aqua;
    font-size: 20px;
    text-align: center;
    font-weight: bold;

}