.main{
}

.banner {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.search-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.search-box {
    width: 500px;
    height: 40px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 15px;
    background-color: #e5fff9;
    margin-top: 50px;
}


.search-input {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    /*background: transparent;*/
    padding: 20px 100px 20px 35px;
    font-size: 16px;
    outline: none;
    color: #242628;
    background-color:  #e5fff9;
}



.search-btn {
    color: #e5fff9;
    background-color: #07ad90;
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 30px;
}
.body-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.skill{
    width: 30%;
}

.info{
    width: 65%;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);

}

.info hr{
    color: #07ad90;
}


.response-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-title{
    color: #07ad90;
    display: flex;
    align-items: center;
}
.skill-title span{
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}